<?xml version="1.0"?>

<launch>

  <!-- Launch Gazebo World -->
  <include file="$(find cpr_agriculture_gazebo)/launch/agriculture_world.launch"/>

  <!-- Spawn Husky with sensors -->
  <arg name="robot_namespace" default="/"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_slam)/urdf/husky.urdf.xacro'
    robot_namespace:=$(arg robot_namespace)" />

</launch>